<div  class="container-fluid dark-overlay float" >
    <div class="row">
      <div class="col-md-6">
        <div style="display: block;font-family: 'KerminaWeb', sans-serif;">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [type]="barChartType"></canvas>
        </div>
        <div class="score-grid">
        <div class="row">
          <div class="col-md-6 hover" >
            <p>Total participants</p>
            <h1 class="color">
            <countup [countUp]="1000"></countup></h1>
          </div>
          <div class="col-md-6 hover">
            <p>Total points gained</p>
            <h1 class="color">
              <countup [countUp]="2000"></countup></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 hover">
            <p>Total events registration</p>
            <h1 class="color">
              <countup [countUp]="1200"></countup></h1>
          </div>
          <div class="col-md-6 hover">
            <p>Active location participations</p>
            <h1 class="color">
              <countup [countUp]="10"></countup></h1>
          </div>
        </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2 style="color: #74C657;text-align: center;padding: 1%;">Top 10 SPEED Performers</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped table-hover">
          <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
            <th mat-header-cell *matHeaderCellDef style="background-color: #74C657; color: white;" [style.text-align]="col === 'Score' ? 'right' : 'left'" [style.padding-right.%]="col === 'Score' ? 5 : 0">{{ col }}</th>
            <td mat-cell *matCellDef="let team" [style.text-align]="col === 'Score' ? 'right' : 'left'" [style.padding-right.%]="col === 'Score' ? 11 : 0">
              <ng-container *ngIf="team[col]">
                <div [@slideAnimation] style="width: 100%;">{{ team[col] }}</div>
              </ng-container>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>
      </div>
    </div>
</div>