/*Style for the Event containers*/
.container-fluid{
  margin: 0px !important;
  padding: 0px !important;
}
.row {
  margin-right: -1px !important;}


.image-css{
  background-size:cover;
  padding-top: 1%;
  padding-bottom:65%;
  border:2px solid black;
  filter: brightness(0.9);
  text-align: center;
}
.h1-css{
  color: black;
}

.image-css:hover{
  filter: brightness(0.5); 
  text-shadow: 0 0 30px rgba(255, 255, 255); 
}
