<nav class="navbar navbar-expand navbar-default p-0 sticky-top">
    <div class="container-fluid header p-2">
        <div class="navbar-header">
            <a routerLink="home" class="header font-weight-bold font-size ">SPEED</a>
        </div>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="nav navbar-right ">
                <li><a routerLink="calender" class="header nav-link items">CALENDAR</a></li>
                <li><a routerLink="event" class="header nav-link items">EVENT</a></li>
                <li><a routerLink="leaderboard" class="header nav-link items">LEADERBOARD</a></li>
                <li><a routerLink="home" class="header nav-link" *ngIf="pageComponent!=='HomeComponent'"><i class="fas fa-home"></i></a></li>
            </ul>
        </div>
    </div>
</nav>