<div style="padding: 5%;">
  <tr class="" style="background-color: #74C657;">
    <th style="text-align: center;" colspan="3">
      <select id="categories" style="background: white;" [(ngModel)]="selectedOption" (change)="onOptionChange()">
        <option value="" disabled selected>Select your option</option>
        <option *ngFor="let option of options">{{ option.label }}</option>
      </select>
      <!-- <a href="#" style="text-decoration: none; color: white;"><i class="fas fa-search"></i></a> -->
    </th>
  </tr>
  <table class="table  table-hover table-striped mt-1">
    <thead class="table-dark" style="background-color:#74C657;padding: 5%;">
      <tr>
        <th>Ecode</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.ecode }}</td>
        <td [innerHTML]=getuserName(user)></td>
        <td>{{ user.score }}</td>
      </tr>
    </tbody>
  </table>
</div>