<div class="row m-4">
  <div style="padding: 3%; border-radius: 10px;" class="mat-elevation-z8 col-md-9 ">
    <ng-container  *ngIf="!dataAvailable">
      <div class="coming-soon-overlay">
        <p class="coming-soon-text" style="font-family: 'KerminaWeb', sans-serif;">Coming Soon</p>
      </div>
    </ng-container>
    <div   [ngClass]="{'blur': !dataAvailable}"  >
    
    <div *ngIf="selectedOption" class="mb-3">
      <h4>{{ selectedOption.value }} Leaderboard</h4>
    </div>
    <!--Filter for Table-->
    <div class="row mb-3" *ngIf="displayedColumns.length === 3" style="display: flex; justify-content: space-between;">
      <ng-container *ngFor="let col of displayedColumns">
        <div class="col-3">
          <input type="text" class="form-control" [placeholder]="'Filter by ' + col" (input)="applyFilter($event, col)">
        </div>
      </ng-container>
    </div>
    <div class="row mb-3" *ngIf="displayedColumns.length !== 3">
      <!-- Render the filters without flex styling when the count is not 3 -->
      <ng-container *ngFor="let col of displayedColumns">
        <div class="col-2" style="display: flex; justify-content: space-between;">
          <input type="text" class="form-control" [placeholder]="'Filter by ' + col" (input)="applyFilter($event, col)">
        </div>
      </ng-container>
    </div>
    
     <!--LeaderBoard Table-->
    <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-striped table-hover " matSort>
  
      <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col" [style.text-align]="col === 'Score' ? 'right' : 'left'" [style.padding-right.%]="col === 'Score' ? 11 : 0">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="background-color: #74C657;color: white;font-family: 'KerminaWeb', sans-serif;">{{ col }}</th>
      <td mat-cell *matCellDef="let team" style="font-family: 'KerminaWeb', sans-serif;" >
        <ng-container *ngIf="col !== 'TeamMembers'; else teamMembersColumn" [style.text-align]="col === 'Score' ? 'right' : 'left'" [style.padding-right.%]="col === 'Score' ? 11 : 0" >
          {{ team[col] }}
        </ng-container>

        <!-- Handling the 'teamMembers' column separately -->
        <ng-template #teamMembersColumn>
          <span *ngIf="team.TeamMembers && team.TeamMembers.length > 0">
            <span *ngFor="let member of team.TeamMembers | sortMembers; let last = last">
              {{ member.Name }}{{ !last ? ', ' : '' }}
            </span>
          </span>
          <span *ngIf="!(team.TeamMembers && team.TeamMembers.length > 0)">No members</span>
        </ng-template>
      </td>
    </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!--Pagination-->
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
    <!--Points indication-->
    <div class="row">
      <div class="col-md-3">
      <p>50 points - Winner</p>
      </div>
      <div class="col-md-3">
      <p>30 points - 1st Runner</p>
      </div>
      <div class="col-md-3">
        <p>20 points - 2nd Runner</p>
      </div>
      <div class="col-md-3">
        <p>2 point - Participant</p>
      </div>
    </div>
  </div>
  </div>

  <div class="col-md-3">
  <!--Navbar for events-->
  <div class="container vertical-scrollable" data-mdb-perfect-scrollbar-init style="background-size: cover; background-color: #74C657; height: 500px;border-radius: 10px;" [style.height]="calculateContainerHeight()" >
    <div class="row text-center" >
        <div class="col-sm-8 m-2" [class.selected]="option.selected" *ngFor="let option of options" (click)="handleValue(option.path)" [style.background-image]="'url(\'' + option.image + '\')'"  >
        <div class="text-with-border">{{ option.value }}</div>
  </div>
  </div>
</div>