/*Toolbar navigation CSS*/
.mat-toolbar-row {
  margin: 0px !important;
  justify-content: center !important;
  text-decoration: none !important;
  overflow-x: scroll;
  overflow-y: hidden;
}

/*Event CSS*/
.icon {
  width: min-content;
  height: fit-content;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  text-align: center;
  background-color: white;
  color: #74C657;
  text-decoration: none !important;
  justify-content: center !important;
}

/*Event hover CSS*/
.icon:hover {
  color: #7d867a !important;
}

/* center alignment of table content*/
.mat-mdc-cell,
.mat-sort-header-container {
  justify-content: center !important;
  text-align: center !important;
}

/* margin alignment for mat-tool bar*/
.mat-toolbar-multiple-rows {
  display: inherit !important;
  margin-left: -1px !important;
}

/* Sort arrow color value*/
.mat-sort-header-arrow {
  color: white var(--mat-sort-arrow-color) !important;
}