<div style="padding: 5%;">
    <table class="table  table-hover table-striped" >
        
        <thead class="table-dark" style ="background-color:#74C657;padding: 5%;">
            <tr>
              <th style="text-align: center;" colspan="3">
                Event
                <select id="categories" style="background: white;">
                  <option value="" disabled selected>Overall Details</option>
                  <option>Unscramble</option>
                  <option>Teasure Hunt</option>
                  <option>SPEED rapid fire quiz</option>
                  <option>One minute SPEED story</option>
                  <option>SPEED networking event</option>
                  <option>SPEED learning workshop</option>
                  <option>Learning and devlopment community</option>
                  <option>Flash decision making challenge</option>
                  <option>CEO SPEED Q&A</option>
                </select>
                <!-- <button type="button" class="btn btn-success" onclick="myfn()">Apply</button> -->
                <a href="#" style="color:white;text-decoration: none;"><i class="fas fa-search"></i></a>
              </th>
            </tr>
            <tr>
                <th>Ecode</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.ecode }}</td>
            <td [innerHTML]=getuserName(user)></td>
            <td>{{ user.score }}</td>
        </tr>
        </tbody>
      </table>
    </div>
