<div style="margin-bottom: 2%;">
    <div class="row justify-content-center">
        <div class="tile" *ngFor="let event of eventDetails" (click)="triggerDestinationFunction(event.title)">
            <img src='{{ event.imgPath }}' />
            <div class="text">
                <h1>{{ event.title }}</h1>
                <h2 class="animate-text">{{ event.description }}</h2>
                <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            </div>
        </div>
    </div>
</div>