/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'KerminaWeb';
  src: local('KerminaWeb'), url('./assets/fonts/KareliaWeb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
app-root {
    display: block;
    height: 100%;
    width: 100%;
  }
html, body { height: 100%; width: auto; }

body { margin: 0; font-family: 'KerminaWeb', sans-serif; }
@import '~chart.js/dist/chart.css';

/**Scrollbar Customization**/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0bebe;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a5a5;
}