<html>

<head>
    <title>Calender</title>
</head>

<body>
    <!--Intro Section-->
    <div>
        <h2 class="text-center">Event Schedule</h2>
        <br />
        <p class="text-center">This is the planned schedule which contains list of events of the following dates.click
            on event to know more</p>
    </div>
    <!--Table Section-->
    <div style="padding: 5%" class="my-5 container">
        <table class="table table-hover table-striped">
            <thead class="table-dark" style="background-color:#74C657;padding: 5%;">
                <tr>
                    <th>Event Name</th>
                    <th>EventType</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let events of eventDetails">
                    <td>{{ events.eventName }}</td>
                    <td>{{ events.eventType}}</td>
                    <td>{{ events.date}}</td>
                    <td>{{ events.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>