<html>

<head>
  <title>homepage</title>
</head>

<body>
  <!--Home page Image Section-->
  <div style="align-items: center; text-align: center;margin-bottom: 4%;">
    <img src="../../assets/MainPage.png" style="height: 70%;width:100%;" />
  </div>
  <!--Information section-->
  <div class="info">
    <h3 style="padding:1%;color: white;">Event Timeline</h3>
    <div class="timeline">
      <div class="container left">
        <div class="content">
          <!-- <div class="background-container"> -->
          <h2>Mascot</h2>
          <p>Enroll yourself in this event</p>
          <a href="microsft link">Register</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>Unscramble</h2>
          <p>Join the event of word game</p>
          <a href="microsft link">Register</a>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <!-- <div class="background-container"> -->
          <h2>Speed Rapid fire Quiz</h2>
          <p>Join the event</p>
          <a href="microsft link">Register</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>One minute SPEED story</h2>
          <p>Tell us your SPEED Story within the clock ticks</p>
          <a href="microsft link">Register</a>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <!-- <div class="background-container"> -->
          <h2>CEO SPEED Q&A</h2>
          <p>Explore the flash quiz with CEO</p>
          <a href="microsft link">Register</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>Speed learning workshop</h2>
          <p>Enroll yourself in Learning milestones</p>
          <a href="microsft link">Register</a>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <!-- <div class="background-container"> -->
          <h2>Learning and development community</h2>
          <p>Join community for Career Growth</p>
          <a href="microsft link">Register</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>Teasure Hunt</h2>
          <p>Join the hunt for Teasure</p>
          <a href="microsft link">Register</a>
        </div>
      </div>
      <div class="container left">
        <div class="content">
          <!-- <div class="background-container"> -->
          <h2>Flash decision making challenge</h2>
          <p>make it quick to take a win</p>
          <a href="microsft link">Register</a>
          <!-- </div> -->
        </div>
      </div>
      <div class="container right">
        <div class="content">
          <h2>Speed Networking event</h2>
          <p>Join connection for SPEED</p>
          <a href="microsft link">Register</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>