<div style="padding: 5%;">
    <table class="table  table-hover table-striped" >
        
        <thead class="table-dark" style ="background-color:#74C657;padding: 5%;">
            <tr>
                <th>TeamNo</th>
                <th>TeamName</th>
                <th>TeamMembers</th>
                <th>Score</th>
            </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let team of teamList">
            <td>{{ team.teamNumber }}</td>
            <td>{{ team.teamName }}</td>
            <td [innerHTML]="getTeamMembers(team)"></td>
            <td>{{ team.score}}</td>
        </tr>
        </tbody>
      </table>
    </div>